body{
    margin-left: 15%;
    margin-right: 15%;
}

.scroll-target{
    scroll-margin-top: 100px;
}

.table-of-contents ol {
    list-style-position: inside;
    list-style-type: decimal;
    font-weight: normal;
}

.table-of-contents li {
    display: list-item;
}

.table-of-contents ul {
    list-style-type: none;
    font-weight: bold;
}

img{
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}