.resume{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    width:810px;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-size: 200%;
}

.section{
    font-weight: bold;
    text-align: left;

    border-bottom: 1px solid black;
}

.sectionUpper{
    font-size: 100%;
}

.sectionLower{
    font-size: 11px;
    text-transform: uppercase;
}

.title{
    font-weight: bold;
    float: left;
    font-size: 100%;
}

.location{
    float: right;
}

.role{
    float: left;
    font-style: italic;
}

.date{
    float: right;
}

.bullets{
    float:left;
    text-align: left;
}

ul{
    list-style-type: square;
    list-style-position: inside;
}

.description{
    font-weight: normal;
    font-style: italic;
}