* {
    margin: 0;
    padding: 0;
}

.common{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 100%;
}

body{
    padding-top: 100px;
    background-color: white;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #F4F4F4;
    width: 100%; 
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgray;
    top:0;
    left:0;
    z-index: 10;
}

.header-name{
    font-size: 26px;
    text-align: left;
    
    display: block;
    color: black;
    text-decoration: none;
}

.nav-bar{
    margin-right: 3%;
}

.navigation{
    font-size: 18px;
    font-weight: bold;
    color: #7D7D7D;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    line-height: 30%;
    text-decoration: none;
}

.navigation:hover{
    color: #6C8E60;
    transition: color 0.3s ease;
}

#top{
    scroll-margin-top: 100px;
}

.pagetitle{
    font-size: 150%;
    font-weight: normal;
}

img{
    border: 2px solid black;
    object-fit: cover;
}

.headshot{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.whoiam{
    font-size: 100%;
    text-align: left;
    margin-left:30%;
    margin-right:30%;
    line-height: 150%;
}

.whoiam p{
    padding-bottom: 1%;
}

.footer a {
    border-top: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 300px;
    text-decoration: none;
}